<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./../../partials/dashboard/dash_head %>
</head>
<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <% include ./../../partials/dashboard/dash_header %>
        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <% include ./../../partials/dashboard/dash_sidebar %>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">New Budget</h3> </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="card-body">
                    <div class="login-form">
                        <h2 class="control-label">Create a Budget</h4>
                        <form action="/users/dashboard/create_budget" method="POST">
                            <div class="form-group">
                                 <label class="control-label">Budget Name</label>
                                 <input name="nameBudget" type="text" class="form-control" placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                 <select id="soflow" name="currency">
                                    <option value=1>Select a Currency</option>
                                    <option value=1>Dollar</option>
                                    <option value=2>Euro</option>
                                    <option value=3>Pesos COP</option>
                                    <!--document.getElementById("soflow").value retorna la opcion seleccionada  posicion 0 es "select a currency"-->
                                </select>
                            </div>
                            <div class="form-group">
                                 <label class="control-label">Amount of Money</label>
                                 <input name="money" type="number" min="0" step="any" class="form-control" placeholder="Amount" required>
                            </div>
                            <div class="form-group">
                                 <label class="control-label">Link the Accounts</label>
                                 <!--modal?-->
                                 <div class="login-form">
                                    <h2 class="control-label">Select to Sync your Accounts</h4>
                                    
                                        <label class="control-label">Credit Accounts</label>
                                        <table>
                                            <% for(let i = 0; i < data.length; i++) { %>
                                                <% if (data[i].type_acc === "credit") { %>
                                                <tr>
                                                    <td><%=data[i].name_bank%></td>
                                                    <td><%=data[i].number_acc%></td>
                                                    <td><%=balances[i]%></td>
                                                    <td><input style="width:100%" type="checkbox" name="accCredit<%=i%>" value="<%=data[i].number_acc%>"></td>                                  
                                                </tr>
                                                <% } %>
                                            <% } %>
                                        </table>
                                        <label class="control-label">Savings Accounts</label>
                                        <table>
                                            <% for(let i = 0; i < data.length; i++) { %>
                                                <% if (data[i].type_acc === "saving") { %>
                                                <tr>
                                                    <td><%=data[i].name_bank%></td>
                                                    <td><%=data[i].number_acc%></td>
                                                    <td><%=balances[i]%></td>
                                                    <td><input style="width:100%" type="checkbox" name="accSaving<%=i%>" value="<%=data[i].number_acc%>"></td>                                  
                                                </tr>
                                                <% } %>
                                            <% } %>
                                        </table>
                                        <label class="control-label">Currrent Accounts</label>
                                        <table>
                                            <% for(let i = 0; i < data.length; i++) { %>
                                                <% if (data[i].type_acc === "current") { %>
                                                <tr>
                                                    <td><%=data[i].name_bank%></td>
                                                    <td><%=data[i].number_acc%></td>
                                                    <td><%=balances[i]%></td>
                                                    <td><input style="width:100%" type="checkbox" name="accCurrent<%=i%>" value="<%=data[i].number_acc%>"></td>                            
                                                </tr>
                                                <% } %>
                                            <% } %>
                                        </table>                                                               
                                </div>

                            </div>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </form>                        
                        <a href="/users/dashboard"><button class="btn btn-secondary">Cancel</button></a>
                    </div>
                </div>
            </div>        
            <!-- End Container fluid  -->
            <% include ./../../partials/dashboard/changecoin %>
            <!-- footer -->
            
            <!-- End footer -->
        </div>
        <% include ./../../partials/dashboard/footer %>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <% include ./../../partials/dashboard/libjs %>

</body>

</html>