<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./../../partials/dashboard/dash_head %>
</head>
<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>

    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <% include ./../../partials/dashboard/dash_header %>
        </div>
        <!-- End header header -->

        <!-- Left Sidebar  -->
        <% include ./../../partials/dashboard/dash_sidebar %>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Credit Accounts</h3> </div>
                    <% if ( message ) { %>
                        <div><%- req.flash('message') %></div>
                    <% } %>
                    
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active"><%= dump%></li>
                    </ol>
                </div>
            </div>
            
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="card-body">
                    <div class="login-form">
                        <div class="form-group">
                            <table id="accountTable">
                                <tr>
                                    <th>Account</th>
                                    <th>Bank</th>
                                    <th>Balance</th>
                                    <th>Delete</th>
                                </tr>
                                <% for(let i = 0; i < data.length; i++) { %>
                                <tr>
                                    <td><%=data[i].number_acc%></td>
                                    <td><%=data[i].name_bank%></td>
                                    <td>$<%=balances[i]%></td>                                    
                                    <td><button class="btn btn-primary btn-flat" onclick="deleteAcc(this)">Delete</button></td>
                                </tr>
                                <% } %>
                                <!--!!-->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <% include ./../../partials/dashboard/deleteform %>
            <!-- End Container fluid  -->
            <!-- footer -->
            <!-- End footer -->
        </div>
        <% include ./../../partials/dashboard/footer %>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <% include ./../../partials/dashboard/libjs %>

</body>

</html>