<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./../../partials/dashboard/dash_head %>
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <% include ./../../partials/dashboard/dash_header %>
        </div>
        <!-- End header header -->

        <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <% include  ./../../partials/dashboard/dash_sidebar %>
            
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->


        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Profile</h3> </div>
            </div>
            <!-- End Bread crumb -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-two">
                                    <header>
                                        <div class="avatar">
                                            <img src="/img/<%= profilePic %>" />
                                        </div>
                                    </header>

                                    <h3><%= profileName %></h3>
                                    <!--<div class="desc">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit et cupiditate deleniti.
                                    </div>-->
                                    

                                    <ul class="nav nav-tabs profile-tab" role="tablist">
                                
                                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab" >Profile</a> </li>
                                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#cprofile" role="tab">Change Profile</a> </li>
                                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#cpassword" role="tab">Change Password</a> </li>
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content" style="padding-top: 5px">
                                        
                                        <!--second tab-->
                                        <div class="tab-pane active" id="profile" role="tabpanel">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-4"> <strong>Full Name</strong>
                                                        <br>
                                                        <p class="text-muted"><%= fname %> <%= lname %></p>
                                                    </div>
                                                    <div class="col-sm-4"> <strong>ID</strong>
                                                        <p class="text-muted"><%= docId %></p>
                                                    </div>
                                                    <div class="col-sm-4"> <strong>Email</strong>
                                                        <p class="text-muted"><%= email %></p>
                                                    </div>
                                                    
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="cprofile" role="tabpanel">
                                            <div class="card-body">
                                                <form action="/users/profile" method="post" enctype="multipart/form-data">
                                                    <div class="form-group">
                                                        <label class="control-label">Profile Picture</label>
                                                        <input type="file" id="profilePic" name="picture">
                                                    </div>    
                                                    <div class="form-group">
                                                        <label class="control-label">ID</label>
                                                        <input type="text" placeholder="<%= docId %>" class="form-control form-control-line" maxlength="50" name="iduser">
                                                    </div>                                   
                                                    <div class="form-group">
                                                        <label class="control-label">Name</label>
                                                        <input type="text" placeholder="<%= fname %>" class="form-control form-control-line" maxlength="50" name="fname">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Lastname</label>
                                                        <input type="text" placeholder="<%= lname %>" class="form-control form-control-line" maxlength="50" name="lname">
                                                    </div>                                                    
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <button type="submit" class="btn btn-success">Update Profile</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="cpassword" role="tabpanel">
                                            <div class="card-body">
                                                <form class="form-horizontal form-material" name="formtovalidate" onsubmit="return validateForm()" action="/users/profile/changepass" method="post">
                                                    <div class="form-group">
                                                        <label for="inputPassword" class="control-label">Old Password</label>
                                                        <input onkeyup="validateOld()" type="password" data-minlength="8" maxlength="50"class="form-control" id="oldinputPassword" placeholder="Example: Abcd_1234" name="oldpassword">
                                                        <div class="help-block" id = "passvalold"></div>
                                                        <div class="help-block" id = "passval2old"></div>
                                                        <div class="help-block" id = "passval3old"></div>
                                                        <div class="help-block" id = "passval4old"></div>
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <label for="inputPassword" class="control-label">New Password</label>
                                                        <input onkeyup="validate()" type="password" data-minlength="8" maxlength="50"class="form-control" id="inputPassword" placeholder="Example: Abcd_1234" name="newpassword">
                                                        <div class="help-block" id = "passval"></div>
                                                        <div class="help-block" id = "passval2"></div>
                                                        <div class="help-block" id = "passval3"></div>
                                                        <div class="help-block" id = "passval4"></div>
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <label for="inputPassword" class="control-label">Password Confirm</label>
                                                        <input onkeyup="validate()" type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Passwords don't match" placeholder="Confirm" name="confirmpassword">
                                                        <div class="help-block with-errors" id="passconfirmation"></div>
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <button  type="submit" id="submitButton" class="btn btn-success">Change Password</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <!-- Column -->
                </div>

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            <!-- End footer -->
        </div>
        <% include ./../../partials/dashboard/footer %>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <% include  ./../../partials/dashboard/libjs %>

</body>

</html>